Repository Capstone-2023-2/Roomate-BE, pull requests merged in 2023-10, with the labels that each got.

#2 [DOC] BE Project 기본 설정 및 Convention 규칙
  .github/ISSUE_TEMPLATE.md
  .github/PULL_REQUEST_TEMPLATE.md
  README.md
  Rules.md
Labels: doc

#4 [DEV] 회원가입, login, logout api
  .gitignore
  .idea/gradle.xml
  .idea/misc.xml
  .idea/vcs.xml
  .idea/workspace.xml
  build.gradle.kts
  gradle/wrapper/gradle-wrapper.jar
  gradle/wrapper/gradle-wrapper.properties
  gradlew
  gradlew.bat
  settings.gradle.kts
  src/main/java/org/example/Main.java
  src/main/java/org/example/springbootdeveloper/SpringBootDeveloperApplication.java
  src/main/java/org/example/springbootdeveloper/config/WebSecurityConfig.java
  src/main/java/org/example/springbootdeveloper/controller/UserApiController.java
  src/main/java/org/example/springbootdeveloper/domain/User.java
  src/main/java/org/example/springbootdeveloper/dto/AddUserRequest.java
  src/main/java/org/example/springbootdeveloper/repository/UserRepository.java
  src/main/java/org/example/springbootdeveloper/service/UserDetailService.java
  src/main/java/org/example/springbootdeveloper/service/UserService.java
  src/main/resources/application.yml
Labels: dev

#8 [DEV] 이메일 인증
  .idea/workspace.xml
  build.gradle.kts
  src/main/java/org/example/springbootdeveloper/config/WebSecurityConfig.java
  src/main/java/org/example/springbootdeveloper/email/controller/EmailController.java
  src/main/java/org/example/springbootdeveloper/email/dto/EmailAuthRequestDto.java
  src/main/java/org/example/springbootdeveloper/email/entity/EmailMessage.java
  src/main/java/org/example/springbootdeveloper/email/service/EmailService.java
  src/main/resources/application.yml
  src/main/resources/templates/mail.html
Labels: dev

#10 [FIX] 이메일 제목 수정
  src/main/java/org/example/springbootdeveloper/controller/UserApiController.java
  src/main/java/org/example/springbootdeveloper/email/service/EmailService.java
Labels: fix

#11 [DEV] 아이디, 닉네임, 이메일 중복 확인
  src/main/java/org/example/springbootdeveloper/config/WebSecurityConfig.java
  src/main/java/org/example/springbootdeveloper/controller/UserApiController.java
  src/main/java/org/example/springbootdeveloper/repository/UserRepository.java
  src/main/java/org/example/springbootdeveloper/service/UserService.java
Labels: dev

#16 [DEV] 성향 조사 구현
  .idea/workspace.xml
  src/main/java/org/example/springbootdeveloper/controller/TestController.java
  src/main/java/org/example/springbootdeveloper/controller/UserStyleApiController.java
  src/main/java/org/example/springbootdeveloper/domain/UserStyle.java
  src/main/java/org/example/springbootdeveloper/dto/AddUserStyleRequest.java
  src/main/java/org/example/springbootdeveloper/repository/UserStyleRepository.java
  src/main/java/org/example/springbootdeveloper/service/StyleService.java
Labels: dev

#18 [DEV] 실 성향 조사 구현
  .idea/uiDesigner.xml
  .idea/workspace.xml
  src/main/java/org/example/springbootdeveloper/controller/UserAnimalController.java
  src/main/java/org/example/springbootdeveloper/domain/UserAnimal.java
  src/main/java/org/example/springbootdeveloper/domain/UserStyle.java
  src/main/java/org/example/springbootdeveloper/dto/AddUserAnimalRequest.java
  src/main/java/org/example/springbootdeveloper/dto/AddUserStyleRequest.java
  src/main/java/org/example/springbootdeveloper/repository/UserAnimalRepository.java
  src/main/java/org/example/springbootdeveloper/service/AnimalService.java
Labels: dev

#20 [DEV] 기숙사 인증 파일 업로드 구현
  .idea/workspace.xml
  src/main/java/org/example/springbootdeveloper/dorm_auth/controller/FileController.java
  src/main/java/org/example/springbootdeveloper/dorm_auth/domain/FileEntity.java
  src/main/java/org/example/springbootdeveloper/dorm_auth/repository/FileRepository.java
  src/main/java/org/example/springbootdeveloper/email/service/EmailService.java
  src/main/resources/application.yml
Labels: dev

#21 [Refactor] 코드 리펙토링
  .idea/workspace.xml
  src/main/java/org/example/springbootdeveloper/animal_type/controller/UserAnimalController.java
  src/main/java/org/example/springbootdeveloper/animal_type/controller/UserStyleApiController.java
  src/main/java/org/example/springbootdeveloper/animal_type/domain/UserAnimal.java
  src/main/java/org/example/springbootdeveloper/animal_type/domain/UserStyle.java
  src/main/java/org/example/springbootdeveloper/animal_type/dto/AddUserAnimalRequest.java
  src/main/java/org/example/springbootdeveloper/animal_type/dto/AddUserStyleRequest.java
  src/main/java/org/example/springbootdeveloper/animal_type/repository/UserAnimalRepository.java
  src/main/java/org/example/springbootdeveloper/animal_type/repository/UserStyleRepository.java
  src/main/java/org/example/springbootdeveloper/animal_type/service/AnimalService.java
  src/main/java/org/example/springbootdeveloper/animal_type/service/StyleService.java
  src/main/java/org/example/springbootdeveloper/config/WebSecurityConfig.java
  src/main/java/org/example/springbootdeveloper/controller/TestController.java
  src/main/java/org/example/springbootdeveloper/dto/AddUserAnimalRequest.java
  src/main/java/org/example/springbootdeveloper/user/controller/UserApiController.java
  src/main/java/org/example/springbootdeveloper/user/domain/User.java
  src/main/java/org/example/springbootdeveloper/user/dto/AddUserRequest.java
  src/main/java/org/example/springbootdeveloper/user/respository/UserRepository.java
  src/main/java/org/example/springbootdeveloper/user/service/UserDetailService.java
  src/main/java/org/example/springbootdeveloper/user/service/UserService.java
Labels: fix
